body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: myriadPro-regular;
  src: url('../src/fonts/DKMXQK+MyriadPro-Regular.ttf');
}

@font-face {
  font-family: myriadPro-it;
  src: url('../src/fonts/XJENKW+MyriadPro-It.ttf');
}

@font-face {
  font-family: minionPro-regular;
  src: url('../src/fonts/XJENKW+MinionPro-Regular.ttf');
}

.category-title {
  font-family: myriadPro-regular;
  font-size: 36px;
  letter-spacing: 3px;
}